version: "3.8"

services:
  tantieme-app:
    build:
      context: .
      dockerfile: Dockerfile.dev
    container_name: tantieme-app
    ports:
      - "8080:8080"
    environment:
      - REDIS_URL=redis
      - REDIS_PORT=6379
      - PG_HOSTNAME=postgres
      - PG_PORT=5432
      - PG_USERNAME=postgres
      - PG_PASSWORD=password
      - PG_DBNAME=tantieme
    volumes:
      - ./:/app
    working_dir: /app
    depends_on:
      - redis
      - postgres

  redis:
    image: redis:alpine
    container_name: redis
    ports:
      - "6379:6379"

  postgres:
    image: postgres:alpine
    container_name: postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: tantieme
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
